<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">


    <script type="text/html" id="todoCreaterTemplate">

        <input type="text" id="input-todo">
        <button id="add">Add</button>

    </script>


    <script type="text/html" id="todoListTemplate">

        <% _.each(obj.list, function(item, index, array) { %>

            <% if(obj.mode === "all" || (obj.mode === "completed" && item.get("completed") === true) || (obj.mode === "remaining" && item.get("completed") === false)) { %>

                <div>
                    <input <% if(item.get("completed")) { %> checked <% } %> type="checkbox" id="todoCheckbox" data-index="<%= index %>" >
                    <label <% if(item.get("completed")) { %> class="completed" <% } %> > <%= item.get("title") %> </label>
                    <% if(item.get("completed")){%>✓<% }%>
                    <button data-index="<%= index %>" id="remove">x</button>
                </div>

            <% } %>

        <% }) %>

    </script>

    <script type="text/html" id="todoFooterTemplate">

        <a href="#all" class="removeUnderLine">All (<%= obj.completed().length + obj.remaining().length %>) </a>
        <a href="#completed" class="removeUnderLine">Completed (<%= obj.completed().length %>)</a>
        <a href="#remaining" class="removeUnderLine">Remaining (<%= obj.remaining().length %>)</a>
        <label>Remove Completed</label>

    </script>

</head>
<body>


<header id="todoCreater">

</header>

<section id="todoList">

</section>

<footer id="todoFooter">

</footer>


<script src="src/model/todo.js"></script>
<script src="src/collection/todos.js"></script>
<script src="src/view/todoCreater.js"></script>
<script src="src/view/todoList.js"></script>
<script src="src/view/todoFooter.js"></script>
</body>
</html>