<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone.js"></script>
    <script src="bower_components/backbone.localStorage/backbone.localStorage-min.js"></script>


    <script type="text/html" id="todoCreaterTemplate">

        <input type="text" id="input-todo">
        <button id="add">Add</button>

    </script>


    <script type="text/html" id="todoListTemplate">

        <% _.each(obj, function(item, index, array) { %>

        <div>
            <input type="checkbox">
            <label>  <%= item.get("title") %> </label>
            <button data-index="<%= index %>" id="remove">x</button>
        </div>

        <% }) %>

    </script>

</head>
<body>


<header id="todoCreater">

</header>

<section id="todoList">

</section>


<script src="src/model/todo.js"></script>
<script src="src/collection/todos.js"></script>
<script src="src/view/todoCreater.js"></script>
<script src="src/view/todoList.js"></script>
</body>
</html>